body{
  background-image: url("imgs/fundo.jpg");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

#Login{
  width: 500px;
  height: 500px;
  background-color: #342A8F;
  color: #fff;
  border-radius: 25px;
}

#Comeco{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.inicial{
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: flex-start;
  margin-left: 40px;
}

.insira{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: -20px;
}

.botao{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 40px;
  
}

button:hover{
  background-color: #9e9e9e;
}

a {
  color: white; /* Cor normal */
}
a:hover {
  color: #5d5a8c; /* Cor ao passar o mouse */
}